{
    "manifest_version": 3,
    "name": "product-track",
    "description": "track your product price and availability",
    "version": "${CHROME_EXT_VERSION}",
    "action": {
      "default_popup": "signin.html",
      "default_icon":"logo.png"
    },
    "key": "${KEY}",
    "icons":{
        "128":"logo.png"
    },
    "permissions":["activeTab","identity","tabs"],
    "host_permissions": [
      "https://www.googleapis.com/auth/userinfo.email",
      "https://smuly-test-ground.ue.r.appspot.com/*",
      "http://localhost:8006/*"
    ],
    "oauth2": {
      "client_id": "${CLIENT_ID}",
      "scopes": ["email"]
    },
    "options_page":"./signin.html"
}