body {
    min-width: 250px;
    padding: 20px;
  }
  
  input[type="number"] {
    width: 100px;
  }
  
  body {
    min-width: 250px;
    
    padding: 20px;
    background:linear-gradient(to bottom, #fbf9fa,#75d2f1);
  }